/*Header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navhover:hover {
  transform: scale(1.05);
  transition: 1s; }

.body, .btn {
  background-color: #fcb1bd; }

/*Index*/
.carousel {
  border-bottom: whitesmoke  0.2rem solid;
  border-left: whitesmoke 0.2rem solid;
  border-right: whitesmoke  0.2rem solid; }

h1, h2 {
  font-family: 'Work Sans', sans-serif;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  color: pink;
  margin-top: 15px; }

h4 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: gray;
  margin-top: 15px; }

.cardindex {
  background: linear-gradient(to bottom, pink, #fcb1bd);
  border: #fcb1bd; }

.cardfondo {
  background: #fcb1bd;
  border: #fcb1bd; }

.card-text-index {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: gray; }

.roundimg {
  border-radius: 50%; }

.roundimg:hover {
  box-shadow: gray 5px 5px 5px;
  transform: scale(1.05);
  transition: 0.5s; }

/*Productos */
.btn {
  border: pink; }

.btn:hover {
  background-color: #bd7afc; }

.hoverfotos:hover {
  transform: scale(1.03);
  transition: 0.5s; }

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.color {
  background-color: pink; }

/*Recetas*/
.img1 {
  width: 100%;
  object-fit: cover;
  border: violet 10px border solid; }

h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  color: pink;
  text-shadow: 2px 2px 2px #000; }

.container-recetas {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "foto1 foto2 foto3" "receta1 receta2 receta3"; }

.foto1:hover {
  box-shadow: gray 5px 5px 5px 2px; }

.foto2:hover {
  box-shadow: grey 5px 5px 5px 2px; }

.foto3:hover {
  box-shadow: gray 5px 5px 5px 2px; }

.receta1 {
  grid-area: receta1;
  background: linear-gradient(to bottom, pink, #fcb1bd); }

.receta2 {
  grid-area: receta2;
  background: linear-gradient(to bottom, pink, #fcb1bd); }

.receta3 {
  grid-area: receta3;
  background: linear-gradient(to bottom, pink, #fcb1bd); }

.li-recetas {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: gray; }

/*Contacto*/
p {
  color: gray; }

.btn {
  background-color: lightpink; }

.form-label {
  color: gray; }

/*Footer*/
footer {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink; }

.redes {
  display: inline-block; }

.bi-facebook {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: whitesmoke; }
  .bi-facebook:hover {
    color: #bd7afc; }

.bi-whatsapp {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: whitesmoke; }
  .bi-whatsapp:hover {
    color: #bd7afc; }

.bi-instagram {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: whitesmoke; }
  .bi-instagram:hover {
    color: #bd7afc; }

/*Media*/
@media screen and (max-width: 768px) {
  .container-recetas {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "foto1 receta1" "foto2 receta2" "foto3 receta3"; } }

@media screen and (max-width: 500px) {
  .container-recetas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "foto1" "receta1" "foto2" "receta2" "foto3" "receta3";
    margin: auto; } }
