
/*Footer*/

footer{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.redes {
    display: inline-block;
    
}

@mixin bifooter{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:whitesmoke;
        &:hover{
            color:$color-hover;
        }
}

.bi-facebook {
    @include bifooter

}

.bi-whatsapp {
    @include bifooter

}
.bi-instagram {
    @include bifooter

}