h1 {
    font-family:$title-font;
}   

h3 { 
    font-family: Arial, Helvetica, sans-serif;    
}

.h3 { font-family: Arial, Helvetica, sans-serif;}

h4{ text-align: center;
    color: blueviolet;
    margin-top: 5px;
 }