.body { background-color:$special-pink;}

/*Index*/

.carousel {
    border-bottom: whitesmoke  0.2rem solid;
    border-left: whitesmoke 0.2rem solid;
    border-right: whitesmoke  0.2rem solid;
    
  }

h1, h2 {
    font-family:'Work Sans', sans-serif; 
    text-shadow:2px 2px 2px #000;
    text-align: center;
    color: pink;
    margin-top: 15px; 
  }
  
  h4 {
    font-family:'Work Sans', sans-serif; 
    text-align: center;
    color: gray;
    margin-top: 15px; }

.cardindex{ 
    background: linear-gradient(to bottom, pink, $special-pink);
    border: $special-pink;
    }
  
    .cardfondo { 
      background: $special-pink;
      border: $special-pink;
    }
  .card-text-index{
    font-family:'Work Sans', sans-serif; 
        text-align: center;
        color: gray;
  }
  .roundimg {
    border-radius: 50%; 
  }
  
  .roundimg:hover {
    box-shadow: gray 5px 5px 5px ; 
    transform: scale(1.05);
    transition: 0.5s; } 
   
 
  /*Productos */
.btn {
    @extend .body;
    border: pink;
}

.btn:hover{
    background-color:$color-hover;
}

.hoverfotos:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

h3 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.color { 
  background-color: pink;
}


/*Recetas*/
.img1{  
    width: 100%;
    object-fit: cover;
    border: violet 10px border solid;    
}

h6 {
  font-family:'Work Sans', sans-serif; 
  font-weight: bold;
  text-align: center; 
  color: pink;
    text-shadow:2px 2px 2px #000;}

.container-recetas{
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px,auto);
  grid-template-areas: 
   "foto1 foto2 foto3"
   "receta1 receta2 receta3";
}

.foto1:hover { 
    box-shadow:gray 5px 5px 5px 2px ;
  }
  .foto2:hover {
     box-shadow: grey 5px 5px 5px 2px ;
  }
  .foto3:hover { 
    box-shadow:gray 5px 5px 5px 2px ;
  }
  
.receta1 {
  grid-area: receta1;
  background:linear-gradient(to bottom, pink, $special-pink); 

}
.receta2 {
  grid-area: receta2;
  background:linear-gradient(to bottom, pink, $special-pink); 

}
.receta3 {
  grid-area: receta3;
  background:linear-gradient(to bottom, pink, $special-pink); 

}

.li-recetas {
  font-size: 1rem;
  font-family:'Work Sans', sans-serif;
  color: gray;
  }

  /*Contacto*/
p {
  color: gray;
}

.btn {
  background-color: lightpink;
}
.form-label {
  color:gray;
}

