
$special-pink:#fcb1bd;
$color-hover:#bd7afc;
$title-font:'Bilbo Swash Caps', cursive;
$text-font:'Great Vibes', cursive;


@import "header";
@import "main";
@import "footer";
@import "media";








