
/*Header transfornaciones*/

.hover:hover {
    transform: scale(1.1);
    transition: 1s;
}
.hoverfotos:hover {
    transform: scale(1.05);
    transition: 1s;
}

/*Main*/

main {
    background-color:rgba(245, 189, 198, 0.795);
        
}

/*Titulos*/

h1 {
    font-family: 'Great Vibes', cursive;
}

h2 {
    color:blueviolet ;
}

.h3{
    font-family:Arial, Helvetica, sans-serif;
    
}

h4 {
    text-align: center;
    margin-top: 5px;
    color:blueviolet ;
}

/*Contacto*/
.btn {
    background-color: rgb(201, 158, 242);
    border: blueviolet;
   
}

/*Footer*/

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgba(245, 189, 198, 0.795);
    
}
/*Redes*/

.redes {
    display: inline-block;
}
.bi-facebook {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:blueviolet;
  
}

.bi-whatsapp {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:blueviolet;
}

.bi-instagram {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:blueviolet;
    }


    


